@use '../styles.scss' as styles;

:host {
  cursor: pointer;

  li-card {
    --card-radius: 0;
    --card-grid-rows: auto;
    --card-min-height: auto;
    --card-height: auto;
    --card-border: 0;
    --card-width: auto;
    --card-bg-color: transparent;
    --checkbox-margin: 3px 0px 3px 1px;
    --card-box-shadow: none;
    --card-border: 1px solid;

    header {
      display: grid;
      grid-template-columns: 1fr auto;
    }
 
    .content {
      .initiative {
        color: #780032;
        background-color: #e4ccd6;
      }

      .ig, .m-a, .lev-fin, .ecm {
        color: #2d70cd;
        background-color: #ccebf8;
      }

      .app-section, .quick-link, .my-deal, .my-work {
        color: #7c7c7c;
        background-color: #eaeaea;
      }

      &--type {
        padding: 3px 5px;
        padding-top: 4px;
        font-weight: 700;
        border-radius: 100px;
        text-align: center;
        width: 70px;
        font-size: 13px;
        margin-bottom: 8px;
        margin-top: 3px;
      }

      &--title,
      &--section-path {
        @include styles.ellipsis();
      }

      &--title {
        font-size: 16px;
        padding-bottom: 10px;
        margin-top: 5px;
        margin-bottom: 11px;
        border-bottom: 1px solid var(--page-card-divider-color);
      }

      &--section-container {
        display: grid;
        row-gap: 5px;
      }

      &--section-path {
        font-size: 14px;
      }

      &--description {
        font-size: 12px;
      }
    }
  }
}