:host {
  .profile-cards {
    margin: 10px;

    profile-card {
      &::part(card) {
        --card-width: 50%;
        --card-border: 1px solid;
        --card-border-color: var(--primary-white);
      }
    }

    li-checkbox-group {
      --checkbox-group-width: 50%;
    }
  }
}