@use './_theme.scss' as theme;

@include theme.dark {
  search-people {
    --search-people-header-title: var(--primary-white);
    --sort-button-color: var(--primary-white);
    --search-people-sort-header-divider: var(--primary-white);
    --pagination-current-border-bottom: var(--secondary-yellow);
    --pagination-chevron-border-color: var(--secondary-yellow);
    --pagination-number-color: var(--primary-white);
    --pagination-hover-bg-color: #cacaca;

    &::part(people) {
      --card-bg-color: #141414;
      --card-box-shadow: 0 0px 10px #000;
    }

    &::part(profile-card) {
      --card-border-color: #2e2e31;  
    }

    &::part(name), &::part(role) {
      color: var(--primary-white);
    }

    &::part(name) {
      font-size: 20px;
    }

    &::part(sort-button) {
      --button-text-color: var(--secondary-yellow);
    }
  }
}

@include theme.light {
  --border-blue-color: #2199e8;
  --border-card-color: #ededed;

  search-people {
    --search-people-sort-header-divider: var(--secondary-light-grey);
    --search-people-card-border-color: var(--border-card-color);
    --pagination-current-border-bottom: var(--border-blue-color);
    --pagination-chevron-border-color: var(--border-blue-color);
    --pagination-hover-bg-color: #cacaca;

    &::part(people) {
      --card-bg-color: var(--primary-white);    
      --card-box-shadow: 0 1px 5px #dce7f6;
    }

    &::part(sort-button) {
      --button-text-color: var(--primary-bright-blue);
      --button-hover-bg-color: #f5f5f5;
    }

    &::part(profile-card) {
      --card-border-color:  var(--border-card-color);
    }

    &::part(name) {
      --profile-card-name-color: var(--primary-bright-blue);
      --profile-card-name-font-size: 20px;
    }
  }
}