@use './_theme.scss' as theme;

@mixin tooltip {
  .search-tooltip {
    color: var(--primary-white) !important;
    background-color: #616161 !important;
    border-radius: 4px !important;
    font-size: 10px !important;
    font-family: var(--font-family);
    white-space: pre-line;
    text-align: left !important;
  }
}

@include theme.dark {
  @include tooltip();

  page-section {
    --card-bg-color: #141414;
    --card-box-shadow: 0 0px 10px #000;

    header {
      .title {
        color: var(--primary-white);
      }

      .sort-header {    
        sort-button {
          --button-text-color: var(--secondary-yellow);
          --sort-button-color: var(--primary-white);
        }
        
        &--divider {
          color: var(--primary-white);
        }
      }
    }

    .page-card {
      --card-border-color: #2e2e31;

      li-content {
        &::part(content) {
          color: var(--primary-white);
        }
      }

      .content--title {
        --page-card-divider-color: #2e2e31;
      }
    }

    .people-profile-card {
      --card-border-color: #2e2e31;
      --profile-card-cursor: pointer;

      &::part(name), &::part(role) {
        color: var(--primary-white);
      }
    }

    li-footer {
      pagination {
        --pagination-current-border-bottom: var(--secondary-yellow);
        --pagination-chevron-border-color: var(--secondary-yellow);
        --pagination-number-color: var(--primary-white);
        --pagination-hover-bg-color: #cacaca;
      }
    }
  }
}

@include theme.light {
  @include tooltip();

  page-section {
    --card-bg-color: var(--primary-white);    
    --card-box-shadow: 0 1px 5px #dce7f6;
    --border-blue-color: #2199e8;
    --border-card-color: #ededed;

    header {
      .title {
        color: #000;
      }

      .sort-header {
        sort-button {
          --button-text-color: var(--primary-bright-blue);
          --button-hover-bg-color: #f5f5f5;
        }

        &--divider {
          color: var(--secondary-light-grey);
        }
      }
    }

    .page-card {
      --card-border-color: var(--border-card-color);

      .content--title {
        --page-card-divider-color: var(--border-card-color);
      }
    }

    li-footer {
      pagination {
        --pagination-current-border-bottom: var(--border-blue-color);
        --pagination-chevron-border-color: var(--border-blue-color);
        --pagination-hover-bg-color: #cacaca;
      }
    }
  }
}