@use '../common/styles.scss' as styles;

@include styles.base();
@include styles.header();

:host {
  li-card {
    --card-width: var(--search-people-width);

    li-content {
      section {
        profile-card {
          --profile-card-width: auto;
          --profile-card-line-break-color: transparent;
          --profile-card-role-diplay: grid;

          &::part(card) {
            --card-border: 1px solid;
          }

          &[reverse] {
            &::part(email), 
            &::part(contacts-office), 
            &::part(contacts-mobile) {
              display: none;
            }

            &::part(name), 
            &::part(ellipsis) {
              @include styles.ellipsis();
            }
          }
        }
      }
    }
  }
}