@use '../styles.scss' as styles;

:host {
  page-section {
    --card-width: var(--search-people-width);

    profile-card {
      --profile-card-width: auto;
      --profile-card-line-break-color: transparent;
      --profile-card-role-diplay: grid;
  
      &::part(card) {
        --card-border: 1px solid;
      }
  
      &[reverse] {
        &::part(email), 
        &::part(contacts-office), 
        &::part(contacts-mobile) {
          display: none;
        }

        &::part(name) {
          font-size: 20px;
        }
  
        &::part(name), 
        &::part(ellipsis) {
          @include styles.ellipsis();
        }
      }
    }
  }
}