:host {
  li-button {        
    --button-bg-color: transparent;
    --button-font-size: 14px;
    --button-border-radius: 4px;
    --button-padding: 8px;
    --button-min-width: 64px;

    --arrow-down-bottom: 8px;

    .arrow-up {
      transform: rotate(180deg);
    }

    svg {
      width: 20px;
      height: 20px;
      fill: none;
      color: var(--sort-button-color);
    }

    &::part(span) {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 5px;
    }
  }
}